<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新增訊息頁面</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container">
		<div class="row">

			<h1>新增訊息</h1>
			<div class="col-12 col-lg-8 mb-2">
				<div class="card">
					<div class="card-header">新增訊息</div>
					<div class="card-body">

						<form th:action="@{/messages/post}" method="post">
							<div class="input-group">
								<textarea class="form-control" name="text"></textarea>
							</div>
							<br />
							<button type="submit" class="btn btn-primary">送出</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 ">
				<div class="card">
					<div class="card-header">
						最新消息 時間 <span th:text="${lastestMsg} ? ${#dates.format(lastestMsg.added, 'yyyy-MM-dd HH:mm:ss EEEE')}"></span>
					</div>
					<div class="card-body">
						<span th:text="${lastestMsg} ? ${lastestMsg.text}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>