<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>編輯Page</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container">
		<h3>編輯Page</h3>
		<div class="col-12 col-lg-8 mb-2">
			<div class="card">
				<div class="card-header">編輯訊息</div>
				<div class="card-body">

					<form th:action="@{/messages/edit}" th:method="put" th:object="${messages}">
						<input th:field="*{id}" type="hidden"/>
						<div class="input-group">
							<textarea class="form-control" th:field="*{text}"></textarea>
						</div>
						<br />
						<button type="submit" class="btn btn-primary">送出</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>