<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>show Messages</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container position-relative min-vh-100">
		<div class="row">
			<h1>Show Message Page</h1>
			<th:block th:each="message :${page.content}">
				<div class="col-12 col-lg-4 mb-2">
					<div class="card">
						<div class="card-header">
							最新消息 時間 <span
								th:text="${message} ? ${#dates.format(message.added, 'yyyy-MM-dd HH:mm:ss EEEE')}"></span>
						</div>
						<div class="card-body">
							<span th:text="${message} ? ${message.text}"></span>
							<div class="edit-place" style="display: flex;">
								<form th:action="@{/messages/edit}" method="get">
									<input name="id" th:value="${message.id}" type="hidden" /> <input
										type="submit" value="編輯" class="btn btn-outline-info btn-sm">
								</form>

								<form th:action="@{/messages/delete}" method="post">
									<input name="_method" value="delete" type="hidden" /> <input
										name="id" th:value="${message.id}" type="hidden" /> <input
										type="submit" value="刪除" class="btn btn-outline-danger btn-sm">
								</form>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>

		<ul class="pagination position-absolute bottom-0 end-0">
			<th:block th:switch="${page.number == 0} ">
				<li th:case=${false} class="page-item"><a class="page-link"
					th:href="@{/messages/page?(p=${page.number})}"
					style="user-select: none">Previous</a></li>
				<li th:case=${true} class="page-item"><span class="page-link"
					style="color: gray; user-select: none;">Previous</span></li>
			</th:block>
			<th:block
				th:each=" pageNumber : ${#numbers.sequence(1, page.totalPages)}">
				<th:block th:switch="${page.number != pageNumber - 1}">
					<li th:case=${true} class="page-item"><a class="page-link"
						th:href="@{/messages/page?(p=${pageNumber})}">[[${pageNumber}]]</a>
					</li>
					<li th:case=${false} class="page-item active"><span
						class="page-link" th:text="${pageNumber}"></span></li>
				</th:block>
			</th:block>
			<th:block th:switch="${page.number + 1 == page.totalPages}">
				<li th:case=${false} class="page-item"><a class="page-link"
					th:href="@{/messages/page?(p=${page.number + 2})}"
					style="user-select: none">Next</a></li>
				<li th:case=${true} class="page-item"><span class="page-link"
					style="color: gray; user-select: none;">Next</span></li>
			</th:block>
		</ul>
	</div>
</body>
</html>