<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>註冊</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container">
		<h1>註冊</h1>
		<form th:action="@{/users/register}" method="post">
			<label style="width: 80px; text-align: right; margin-right: 5px;"
				class="me-2">帳號:</label><input name="username" /> <br /> <label
				style="width: 80px; text-align: right; margin-right: 5px;"
				class="me-2">密碼:</label><input name="pwd" type="password" /> <br />
			<input type="submit" value="送出" />
		</form>
		<div th:text="${errorMsg} ? ${errorMsg}"></div>
		<div th:text="${okMsg} ? ${okMsg}"></div>
	</div>
</body>
</html>